$container: 1280px;
$menuLinkWidth: 6rem;
$menuLinkHeight: 2rem;

.container {
  max-width: $container;
  margin: 0 auto;
  position: relative;
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  height: 3.5rem;
  position: fixed;
  left: 0;
  right: 0;
  flex-flow: row wrap;
  z-index: 99;
}

.nav__logo {
  padding-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 245px;
}

.nav__links {
  display: flex;
  position: relative;
}

.nav__models {
  flex-grow: 1;
  justify-content: center;
}

.nav__menu {
  padding-right: 1rem;
}

.nav__button {
  color: #0c1016;
  padding: 4px 8px;
  border-radius: 13px;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgb(128, 128, 128, 0.2);
    transition: 0.5s ease-in-out;
  }
  span {
    margin: 0 8px;
  }
  + button {
    background: none;
    font-size: inherit;
    font-family: inherit;
  }
}

.hover__element {
  position: absolute;
  height: $menuLinkHeight;
  background-color: goldenrod;
  top: 0;
  left: 0;
}

.main {
  height: 100vh;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // position: fixed;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.main__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 14vh;
  text-align: center;
  h1 {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-shadow: 0 0 0.1px black;
    }
  }
}

.main__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 11vh;
  button {
    width: 16rem;
    padding: 0.8rem 2rem;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    &:first-of-type:not(:only-child),
    &:only-child {
      opacity: 1;
      font-weight: bold;
      color: white;
      background-color: rgba(23, 26, 32, 0.8);
    }
    &:last-of-type:not(:only-child) {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

.footer {
  height: 4rem;
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__container {
  margin: auto;
  width: 100%;
  max-width: 50%;
  font-size: small;
}
